* {
    margin: 0;
    padding: 0;
    box-sizing: padding-box;
}

header{
    color:  black;
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.svg_title{
    margin-top: 50px;
    font-weight: 600;
}
#Rect:hover{
    stroke: black;
    fill: red;
    stroke-width:10px;
}