* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}

.plane{
  max-width: 20vh;
  max-height: 20vh;
  top: 25%;
  width: 20%;
  position: absolute;
  animation: fish_swim 10s linear infinite;
}

.pause{
	animation-play-state: paused;
}


@keyframes fish_swim {
  from{
    margin-left: 110%;
  }
  to{
    margin-left: -20%;
  }
}


.scene {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #00C6E0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.ground .dust {
    margin-top: -7%;
    width: 100%;
    height: 20%;
    background: #f1b93f;
}

.ground .dirt {
    width: 100%;
    height: 80%;
    background: #854500;
}

.ground {
    height: 55vh;
}

.cloud {
    width: 10%;
    object-fit: contain;
    margin-left: 5%;
    animation: clouds 1s infinite;
    transition-property: all;
}

.cloud:hover {
    transition: 3s;
    opacity: 0;
}

.sky {
    display: flex;
    flex-wrap: nowrap;
}

.world {
    display: flex;
    align-items: flex-end;
}

.tree {
    width: 25%;
    position: relative;
}

.cactus-main {
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
    animation: leaves 2s infinite;
}

.perekatipole {
    width: 100px;
    animation: move 10s infinite;
}

.perekatipole img {
    animation: jump 0.5s infinite;
    background: transparent;
    width: 100%;
}

@keyframes clouds {
    20% {
        margin-right: 1%;
    }
    75% {
        margin-left: 3%;
    }
    90% {
        margin-top: 12px;
    }
}

@keyframes leaves {
    0% {
        transform: rotate(-5deg);
    }
    10% {
        transform: scaleX(0.9);
    }
    60% {
        transform: rotate(5deg);
    }
}

@keyframes move {
    from {
        transform: translate(-1000px, 0);
    }
    to {
        transform: translate(3000px, 0);
    }
}

@keyframes jump {
    20% {
        margin-bottom: 76px
    }
    30% {
        transform: rotate(180deg);
    }
    50% {
        margin-top: 150px
    }
    100% {
        transform: rotate(360deg);
    }
}