<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/SvetlayaTema.css">
	<link rel="stylesheet" href="css/TemnayaTema.css">
	<title>Лабы 12-14 Орлов В.А.</title>
</head>
<body>
	<div class="all" :class="[isActive ? 'd-all' : '']">
		<transition name="fade">
			<div class="modal" :class="[isActive ? 'd-modal' : '']" v-show="mod">
				
				<form action="#" class="modalForm" :class="[isActive ? 'd-modalForm' : '']">
					<button v-if="obj.statusCheck" class="addButton-off" :class="[isActive ? 'd-addButton-off' : '']"
						@click="close()"><span></span></button>
					<div class="inner-form">
						<label v-if="obj.statusCheck" class="modalInput"
							:class="[isActive ? 'd-modalInput' : '']">Описание
							<input v-model="obj.nameTask" class="addInput" :class="[isActive ? 'd-addInput' : '']"
								value="{{newTask}}" type="text" placeholder="Введите описание">
						</label>
						<label v-if="obj.statusCheck" class="modalInput"
							:class="[isActive ? 'd-modalInput' : '']">Статус
							<select v-model="obj.status" class="addInput" :class="[isActive ? 'd-addInput' : '']" name="">
								<option selected disabled value="">Выберите статус</option>
								<option value="plan">План</option>
								<option value="work">В процессе</option>
								<option value="done">Готово</option>
							</select>
						</label>
						<label class="modalInput" :class="[isActive ? 'd-modalInput' : '']">Пользователь
							<input :disabled="disableTrust" v-model="obj.trust" class="addInput"
								:class="[isActive ? 'd-addInput' : '']" type="text" placeholder="Введите имя">
						</label>
						<label v-if="obj.statusCheck" class="modalInput"
							:class="[isActive ? 'd-modalInput' : '']">Дата и время начала
							<input :disabled="disableDateStart" v-model="obj.dateStart" class="addInput"
								:class="[isActive ? 'd-addInput' : '']" type="text" placeholder="Введите дату начала">
						</label>
						<label v-if="obj.statusCheck" class="modalInput"
							:class="[isActive ? 'd-modalInput' : '']">Дата и время завершения
							<input v-model="obj.dateStart" class="addInput" :class="[isActive ? 'd-addInput' : '']" type="text"
								:disabled="disableDateStart" placeholder="Дата завершения">
						</label>
					</div>
					<button class="addBu" :class="[isActive ? 'd-addBu' : '']" type="submit"
						@click="add(), c()"><font color="white">Ок</font><span></span></button>
				</form>
			
			</div>
		</transition>
		<div class="inAll">
			<header class="head">
				<h1 class="headTitle" :class="[isActive ? 'd-headTitle' : '']">Kanban-доска</h1>
				<div class="theme">
					<span class="themeLabel" :class="[isActive ? 'd-themeLabel' : '']">Темная тема</span>
					<div class="themeMode" :class="[isActive ? 'd-themeMode' : '']" @click="tc">
						<span class="themeOn"><span></span></span>
						<span class="themeCyrcle" :class="[isActive ? 'active' : '']"></span>
						<span class="themeOff"><span></span></span>
					</div>
				</div>
			</header>

			<main class="main">
				<section class="add">
					<label class="addLabel" :class="[isActive ? 'd-addLabel' : '']">Добавить новую задачу
						<input class="addInput" :class="[isActive ? 'd-addInput' : '']" type="text" v-model="obj.nameTask"
							placeholder="Описание">
					</label>
					<button class="addButton-on" :class="[isActive ? 'd-addButton-on' : '']"
						@click="first(), c()"><span></span></button>
				</section>
				<section class="wBox">
					<div class="box" @drop='onDrop($event, "plan")' @dragover.prevent @dragenter.prevent
						:class="[isActive ? 'd-box' : '']">
						<h2 class="boxTitle">План ({{count.cPlan}})</h2>
						<div class="task" :class="[isActive ? 'd-task' : '']" v-for="(tsk, index) in tasks" :key='tsk.nameTask'
							draggable @dragstart='startDrag($event, tsk)' v-if="tsk.status ==='plan'">
							<div class="taskText">
								<h3 class="taskTitle" :class="[isActive ? 'd-taskTitle' : '']">{{tsk.name}}</h3>
								<p class="taskDesc" :class="[isActive ? 'd-taskDesc' : '']" v-if="tsk.nameTask !== '' ">
									{{tsk.nameTask}}
								</p>
							</div>
							<div class="taskImg">
								<button @click="edit(index)">
								<img src="img/red.png" width="40" height="40">
									
								</button>
								<button @click="complite(index)">
									<img src="img/ok.png" width="30" height="30">
								</button>
							</div>
						</div>
					</div>
					<div class="box" @drop='onDrop($event, "work")' @dragover.prevent @dragenter.prevent
						:class="[isActive ? 'd-box' : '']">
						<h2 class="boxTitle">В процессе ({{count.cWork}})</h2>
						<div class="task" :class="[isActive ? 'd-task' : '']" v-for="(tsk, index) in tasks" :key='tsk.nameTask'
							draggable @dragstart='startDrag($event, tsk)' v-if="tsk.status ==='work'">
							<div class="taskText">
								<h3 class="taskTitle" :class="[isActive ? 'd-taskTitle' : '']">{{tsk.name}}</h3>
								<p class="taskDesc" :class="[isActive ? 'd-taskDesc' : '']" v-if="tsk.nameTask !== '' ">
									{{tsk.nameTask}}
								</p>
								<h4>Дата начала:</h4>
								<p>{{tsk.dateStart}}</p>
								<h4>Ответственный:</h4>
								<p>{{tsk.trust}}</p>
							</div>
							<div class="taskImg">
								<button @click="edit(index)">
									<img src="img/red.png" width="40" height="40">
								</button>
								<button @click="complite(index)">
									<img src="img/ok.png" width="30" height="30">
								</button>
							</div>
						</div>
					</div>
					<div class="box" @drop='onDrop($event, "done")' @dragover.prevent @dragenter.prevent
						:class="[isActive ? 'd-box' : '']">
						<h2 class="boxTitle">Готово ({{count.cDone}})</h2>
						<div class="task" :class="[isActive ? 'd-task' : '']" v-for="(tsk, index) in tasks" :key='tsk.nameTask'
							draggable @dragstart='startDrag($event, tsk)' v-if="tsk.status ==='done'">
							<div class="taskText">
								<h3 class="taskTitle" :class="[isActive ? 'd-taskTitle' : '']">{{tsk.name}}</h3>
								<p class="taskDesc" :class="[isActive ? 'd-taskDesc' : '']" v-if="tsk.nameTask !== '' ">
									{{tsk.nameTask}}
								</p>
								<h4>Ушло времени:</h4>
								<p>{{tsk.dateAll}}</p>
								<h4>Дата начала:</h4>
								<p>{{tsk.dateStart}}</p>
								<h4>Ответственный:</h4>
								<p>{{tsk.trust}}</p>
							</div>
							<div class="taskImg">
								<button @click="edit(index)">
									<img src="img/red.png" width="40" height="40">
								</button>
								<button @click="deleteDesk(index), c()">
									<img src="img/xx.png" width="30" height="30">
								</button>
							</div>
						</div>
					</div>
				</section>
			</main>
		</div>
	</div>
	<script src="vue.min.js"></script>
	<script src="main.js"></script>
</body>
</html>